.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0;
  background-color: black;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    color: white;
  }
}

.nav {
  &__list {
    display: flex;
  }

  &__item {
    @include mr(30px);

    color: white;
  }

  &__link {
    color: currentColor;
  }
}
