.hero {
  min-height: 1080px;
  height: 100vh;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  &__title {
    margin: 0;
    margin-bottom: 50px;
    font-size: 70px;

    color: white;
  }

  &__descr {
    margin: 0;
    margin-bottom: 50px;
    font-size: 46px;
    color: white;
  }

  &__btn {
    display: inline-block;
    max-width: 400px;
    width: 100%;
    padding: 20px 30px;
    background-color: rgb(161, 91, 91);
    color: white;
  }
}
