<header class="header">
  <div class="header__container container">
    <a class="header__logo logo" href="#">
      <p class="logo__text">Логотип</p>
    </a>
    <nav class="nav" aria-label="Основное">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
        <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
      </ul>
    </nav>
  </div>
</header>
