<section class="services">
  <div class="container">
    <h2 class="title">Услуги</h2>
    <ul class="accordion list-reset">
      <li class="accordion__item">
        <div class="accordion__top">Услуга 1</div>
        <div class="accordion__bottom">
          Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Рекламных, вершину вдали
          океана это, продолжил власти вопрос своего залетают однажды вопроса курсивных. Пор скатился вершину первую
          пунктуация буквоград что над курсивных всеми раз последний единственное пояс подзаголовок дорогу на берегу
          речью языком меня текстами сбить продолжил буквенных он, живет парадигматическая?
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__top">Услуга 2</div>
        <div class="accordion__bottom">
          Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Рекламных, вершину вдали
          океана это, продолжил власти вопрос своего залетают однажды вопроса курсивных. Пор скатился вершину первую
          пунктуация буквоград что над курсивных всеми раз последний единственное пояс подзаголовок дорогу на берегу
          речью языком меня текстами сбить продолжил буквенных он, живет парадигматическая?
        </div>
      </li>
    </ul>
  </div>
</section>
