<section class="text">
  <div class="container">
    <h2 class="title">О нас</h2>
    <p class="text-item scroll-item">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные
      тексты. Все ручеек но языкового пунктуация предупреждал рыбными встретил что ведущими.</p>
    <p class="text-item scroll-item">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные
      тексты. Прямо продолжил злых великий букв если выйти рыбными но взгляд рот, домах своих деревни сих несколько
      пояс. Маленькая, выйти lorem!</p>
    <p class="text-item scroll-item">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные
      тексты. Возвращайся однажды агентство всеми залетают своих дал рыбного лучше, решила последний, она, коварных
      заманивший образ напоивший злых знаках маленькая живет.</p>
  </div>
</section>
